{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="posts">
            <!-- Посты -->
            <article class="post" data-page="1">
                <h2>Заголовок статьи 1</h2>
                <p class="meta">Опубликовано: 10 октября 2023</p>
                <p>Краткое содержание статьи...</p>
                <a href="#" class="read-more">Читать далее</a>
            </article>
            <article class="post" data-page="1">
                <h2>Заголовок статьи 2</h2>
                <p class="meta">Опубликовано: 5 октября 2023</p>
                <p>Краткое содержание статьи...</p>
                <a href="#" class="read-more">Читать далее</a>
            </article>
			<article class="post" data-page="1">
                <h2>Заголовок статьи 3</h2>
                <p class="meta">Опубликовано: 1 октября 2023</p>
                <p>Краткое содержание статьи...</p>
                <a href="#" class="read-more">Читать далее</a>
            </article>
            <!-- Добавьте больше постов с атрибутом data-page -->

            <!-- Пагинация -->
            <div class="pagination">
                <button class="page-button" data-page="1">1</button>
                <button class="page-button" data-page="2">2</button>
                <button class="page-button" data-page="3">3</button>
            <!-- Добавьте больше кнопок по мере необходимости -->
            </div>
        </section>
{% endblock %}